---
---

$fa-font-path: '{{ site.baseurl }}/assets/webfonts';

@import 'conference';

a.navbar-brand {
  white-space: normal;
  max-width: 400px;
}

body {
  background-color: black;
  background-color: #1e2123;
  color: white;
}

div.jumbotron {
  background-color: #1e2123;
  color: white;

}

div.jumbotron h1 {
  font-size: 2.0rem;
}

div#day-content.tab-content td.alert {
  color: white;
  background-color: #1e2123;
  border-color: white;
}

ul#day-list a.active {
  color: white;
  background-color: #1e2123;
  border-color: white;
}

.table th {
  color: white;
  background-color: #1e2123;
}

.table {
  border-left: 2px;
  border-color: white;
}
