---
---

$fa-font-path: '{{ site.baseurl }}/assets/webfonts';

@import 'conference';

a.navbar-brand {
  white-space: normal;
  max-width: 400px;
}

body {
  background-color: black;
  background-color: #1e2123;
  color: white;
}

div.jumbotron {
  background-color: #1e2123;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.jumbotron h1 {
  font-size: 2.0rem;
}

div.container#site-description {
  background-color: #1e2123;
  color: white;

}

div.container#site-description h1 {
  font-size: 2.0rem;
}

div#day-content.tab-content td.alert {
  color: white;
  background-color: #1e2123;
  border-color: white;
}

.syncscroll[name="sync-table"] {
  table {
    // table-layout: fixed;  // make widths obey min-width
    min-width: 375px;
    width: 675px;
  }
}

ul#day-list a.active {
  position: relative;
  color: white;
  background-color: #1e2123;
  border-color: white;
}

.table {
  border: 1px solid white;
  border-collapse: separate;
}

.table th {
  color: white;
  background-color: #1e2123;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-collapse: collapse;
  border-bottom-width: 0px;
}

#day-content .table thead th {
  box-shadow: none;
  border-bottom-width: 0px;
}

.table td.alert {
  border-right: 8px solid white;
  border-left: 8px solid white;
}

hr {
  background-color: white;
  border-color: white;
  color: white;
}

.table th.col-title {
  min-width: 100px;
}

table thead th.col-space {
  border-right: 0px solid white;
}

#day-content .sticky-top table thead th.col-space + th {
  border-left: none;
}

h2#abstract {
 font-size: 1.5rem;
}
