{% include partials/header.html %}

<h1 class="display-5 mb-4 text-break">
  {{ page.title | default: "Abstracts" }}
</h1>

<div class="container">

  {% assign talks = site.talks | sort: "time_start" | reverse %}
  {% for talk in talks %}
    {% unless talk.hide %}
      <hr class="my-4">

      <section id="{{ talk.slug }}" class="mb-5">
        <h2>
          <a href="{{ site.baseurl }}{{ talk.url }}">
            {{ talk.name }}
          </a>
        </h2>

        {% if talk.speakers %}
          <p class="mb-3 font-weight-light">
            {% for sp in talk.speakers %}
              {% if sp.name %}
                {{ sp.name }}{% if sp.institution %}, {{ sp.institution }}{% endif %}
              {% else %}
                {{ sp }}
              {% endif %}
              {% unless forloop.last %}; {% endunless %}
            {% endfor %}
          </p>
        {% endif %}

        <div class="abstract mb-3">
          {{ talk.abstract | markdownify }}
        </div>

      </section>
    {% endunless %}
  {% endfor %}

</div>

{% include partials/footer.html %}

